/* Adding new styles for the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #4c9ac1;
  color: white;
  text-align: center;
  padding: 20px;
  overflow: auto;
}

.sidebar h1 {
  margin: 0;
}

.sidebar p {
  margin-top: 0.5rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 1rem;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.sidebar .header-content .profile-photo {
  width: 100%;
  height: auto;
  max-width: 200px; /* Adjust the max-width as per your preference */
}

/* Adjusting main styles to accommodate the sidebar */
main {
  margin-left: 300px;
  text-align: center;
  padding: 1rem;
  color: black;
}

main section {
    min-height: 100vh; /* vh stands for "viewport height" and 100vh will be 100% of the viewport height */
}


footer {
  margin-left: 300px;
  text-align: center;
  padding: 1rem;
  background: #4c9ac1;
  color: white;
}

section {
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: none; /* initially hidden */
  }

  main, footer {
    margin-left: 0;
  }

  .sidebar.active { /* shown when menu button is clicked */
    display: block;
  }

  /* Add a hamburger menu icon */
  .menu-toggle {
    display: block;
    background-color: #4c9ac1;
    width: 100%;
    text-align: right;
    cursor: pointer;
    padding: 20px;
    color: white;
  }

  .menu-toggle i {
    font-size: 1.5rem;
  }
}
